.mars-header__left {
  text-align: center;
  padding: 0 0 0 0!important;
}

.mars-header__icon {
  width: 100%;
  height: auto;
}

.mars-insight-link {
  cursor: pointer;
  color: #007bff!important;
}

.mars-header__dropdown-box {
  margin: 5px 0 40px 0;
}

.mars-header__select {
  border-radius: 5px;
  width: 100%;
}

.mars-header__option {
  width: 300px;
}

.table thead th {
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.table td, .table th {
  border-top: none;
}

.mars-table {
  border-radius: 10px;
  padding: 0 20px;
}

.temp, .pressure, .speed {
  cursor: pointer;
  color: #343a40;
}

.toggle {
  color: #A9A9A9;
}

.mars-table__cell {
  text-align: right;
}

.mars-table__row-title {
  font-weight: 500;
}

.mars-text {
  width: 85%;
}

.mars-container {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.daily-image {
  padding: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.daily-image:hover {
  cursor: pointer;
}

.daily-description {
  margin-right: 20px;
}

@media screen and (max-width: 970px) {
  h2 {
    font-size: 1.5rem;
  }

  .mars-container {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 770px) {
  h2 {
    font-size: 1.5rem;
    margin: 0px auto;
  }
  
  .mars-table {
    padding: 0px 0px;
  }

  .mars-text {
    margin: 10px auto;
  }

  .mars-container .row .col-md-12 .row .col-md-9 .row {
    margin: 0px 0px;
  }

  .mars-container .row .col-md-12 .row .col-md-9 .row .mars-header__dropdown-box {
    margin: 5px auto 40px auto;
    width: 85%;
  }
}