{% extends "base.html" %}

{% block content %}
  <div class="container main-content home-content">
    <div class="row daily-row">
      <div class="col-md-4">
        <a data-toggle="modal" data-target="#myModal">
          <img class="daily-image" src="{{ image_url }}" alt="">
        </a>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h1 class="daily-headline"><strong>Astronomy Picture of the Day:</strong></h1>
        </div>
        <div class="row">
          <h3>{{ title }}</h3>
        </div>
        <div class="row">
          <h6><em>{{ date|date:"F jS, Y" }}</em></h6>
        </div>
        <div class="row">
          <p class="daily-description">{{ description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      {% if media_type == "video" %}
        <div class="modal-content video-modal-content">
          <div class="modal-body embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="auto" src="{{ video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      {% else %}
        <div class="modal-content">
          <div class="modal-body">
            <img itemprop="image" src='{{ image_hdurl }}' class="img-rounded" style="width:100%; height:auto;">
            <p class="modal-title float-left" id="myModalLabel"><em>{{ title }} - NASA &copy; 2020</em></p>
            <button type="button" class="btn btn-secondary button-float-right" data-dismiss="modal">Close</button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
