{% extends "base.html" %}
{% load url_helper %}

{% block content %}
  <div class="modal fade bd-example-modal-lg" id="nasaModal"  tabindex="-1" role="dialog" aria-labelledby="NasaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body embed-responsive-16by9">

        </div>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <div class="row daily-row">
      <div class="col-md-12">
        <div class="nasa-search-container">
          <form method="POST" action="{% url 'tabs:nasa' %}">
            {% csrf_token %}
            <input name="nasa-search-input" class="nasa-search-input" type="text" placeholder='Search for...(e.g. "Orion")' name="search">
            <button type="submit"><i class="fa fa-search"></i></button><br>
            <label class="nasa-search-checkbox" for="Images"><input type="checkbox" name="nasa_search_checkboxes" value="image">Images</label>
            <label class="nasa-search-checkbox" for="Video"><input type="checkbox" name="nasa_search_checkboxes" value="video">Video</label>
            <label class="nasa-search-checkbox" for="Audio"><input type="checkbox" name="nasa_search_checkboxes" value="audio" label="Audio">Audio</label>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if categories %}
    {% for category in categories %}
      {% if category.name == 'video' %}
        <div class="container main-content nasa-video-content">
          <div class="row daily-row">
            <h3 class="nasa-search-title"><strong>{{ category.collection|length }} {{ category.name }} result{{ category.collection|length|pluralize }} for "{{ nasa_search_input }}":</strong></h3>
          </div>

          {% for item in category.collection %}
            <div class="row daily-row">
              <div class="col-md-4">
                <div class="nasa-image-wrapper">
                  <a data-toggle="modal" data-target="#nasaModal" data-id="{% get_url category.name item.json_url %}" data-filter="{{ category.name }}">
                  <img class="nasa-image" src="{{ item.preview_image }}" alt="">
                  <i class="fas fa-play fa-3x"></i>
                  </a>
                </div>
              </div>

              <div class="col-md-8">
                {% if item.title %}
                  <h5><strong>Title: </strong>{{ item.title }}</h5>
                {% else %}
                  <h5><strong>Title: </strong>{{ item.nasa_id }}</h5>
                {% endif %}
                <h6><strong>Date Created: </strong>{{ item.create_date|date:"F jS, Y" }}</h6>
                <div class="nasa-description-container">
                  <p>{{ item.description|urlize }}</p>
                </div>
              </div>
            </div>
            <hr>
          {% endfor %}
        </div>

      {% elif category.name == 'image' %}
        <div class="container main-content nasa-image-content">
          <div class="row daily-row">
            <h3 class="nasa-search-title"><strong>{{ category.collection|length }} {{ category.name }} result{{ category.collection|length|pluralize }} for "{{ nasa_search_input }}":</strong></h3>
          </div>

          <div class="nasa-slideshow-container">
            {% for item in category.collection %}
              <div class="nasa-slides fade-in">
                <div class="nasa-slides-wrapper">
                  <div class="nasa-slide-counter">{{ forloop.counter }} / {{ category.collection|length }}</div>
                  <a data-toggle="modal" data-target="#nasaModal" data-id="{% get_url category.name item.json_url %}" data-title="{{ item.title }}" data-date="{{ item.create_date|date:"Y" }}" data-filter="{{ category.name }}">
                    <img src="{{ item.preview_image }}" alt="{{ item.title }}">
                  </a>
                  <a class="prev" onclick="nextSlide(-1)">&#10094;</a>
                  <a class="next" onclick="nextSlide(1)">&#10095;</a> 
                </div>
                <div class="nasa-slide-description">{{ item.description|urlize }}</div>
              </div>
            {% endfor %}
          </div>
        </div>

      {% elif category.name == 'audio' %}
        <div class="container main-content nasa-audio-content">
          <div class="row daily-row">
            <h3 class="nasa-search-title"><strong>{{ category.collection|length }} {{ category.name }} result{{ category.collection|length|pluralize }} for "{{ nasa_search_input }}":</strong></h3>
          </div>

          {% for item in category.collection %}
            <div class="row daily-row">
              <div class="col-md-4">
                <div class="nasa-image-wrapper">
                  <audio controls>
                    <source src="{% get_url category.name item.json_url %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                </div>
              </div>

              <div class="col-md-8">
                {% if item.title %}
                  <h5><strong>Title: </strong>{{ item.title }}</h5>
                {% else %}
                  <h5><strong>Title: </strong>{{ item.nasa_id }}</h5>
                {% endif %}
                <h6><strong>Date Created: </strong>{{ item.create_date|date:"F jS, Y" }}</h6>
                <div class="nasa-description-container">
                  <p>{{ item.description|urlize }}</p>
                </div>
              </div>
            </div>
            <hr>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}