{% extends "base.html" %}

{% block content %}
  <div class="container main-content">
    <div class="row daily-row">
      <div class="col-md-12">
        <div class="nasa-search-container">
          <form method="POST" action="{% url 'tabs:nasa' %}">
            {% csrf_token %}
            <input name="nasa-search-input" class="nasa-search-input" type="text" placeholder='Search for...(e.g. "Orion")' name="search">
            <button type="submit"><i class="fa fa-search"></i></button><br>
            <label class="nasa-search-checkbox" for="Images"><input type="checkbox" name="nasa_search_checkboxes" value="image">Images</label>
            <label class="nasa-search-checkbox" for="Video"><input type="checkbox" name="nasa_search_checkboxes" value="video">Video</label>
            <label class="nasa-search-checkbox" for="Audio"><input type="checkbox" name="nasa_search_checkboxes" value="audio" label="Audio">Audio</label>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if categories %}
    {% for category in categories %}
      {% if category.name == 'image' %}
        <div class="container main-content nasa-main-content">
          <div class="row daily-row">
            <h3 class="nasa-search-title"><strong>{{ category.collection|length }} {{ category.name }} results for "{{ nasa_search_input }}":</strong></h3>
          </div>

          <div class="nasa-slideshow-container">
            {% for item in category.collection %}
              <div class="nasa-slides fade-in">
                <div class="nasa-slide-counter">{{ forloop.counter }} / {{ category.collection|length }}</div>
                <img src="{{ item.preview_image }}" alt="{{ item.title }}">
                <a class="prev" onclick="nextSlide(-1)">&#10094;</a>
                <a class="next" onclick="nextSlide(1)">&#10095;</a>
                <div class="nasa-slide-description">{{ item.description }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}

      {% endif %}
    {% endfor %}

    <div class="modal fade" id="nasaModal" tabindex="-1" role="dialog" aria-labelledby="NasaModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content video-modal-content">
          <div class="modal-body embed-responsive embed-responsive-16by9">
  
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}