{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container main-content">
    <div class="row daily-row">
      <div class="col-md-3">
        <div class="row">
          <img src="/static/mySpaceStuff/img/{{ rover.rover_name|lower }}.jpg" alt="{{ rover.rover_name }}" class="rover-images">
        </div>
        <div class="row">
          <h1 class="rover-title"><strong>Rover: <a href="https://en.wikipedia.org/wiki/{{ rover.rover_name|title }}_(rover)" target="_blank" rel="noopener noreferrer">{{ rover.rover_name|title }}</a></strong></h1>
        </div>
        <div class="row">
          <h6 class="rover-caption">Landed: {{ rover.landing_date|date:"F d, Y" }}</h6>
        </div>
        <div class="row">
          <h6 class="rover-caption">Latest: {{ rover.max_date|date:"F d, Y" }}</h6>
        </div>
        <div class="row">
          <h6 class="rover-caption">Total: {{ rover.total_photos }} photos</h6>
        </div>
        <div class="row">
          <h6 class="rover-caption">Status: {{ rover.status|title }}</h6>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Abbreviation</th>
                <th>Camera</th>
                <th>Curiosity</th>
                <th>Opportunity</th>
                <th>Spirit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>FHAZ</td>
                <td>Front Hazard Avoidance Camera</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
              </tr>
              <tr>
                <td>RHAZ</td>
                <td>Rear Hazard Avoidance Camera</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
              </tr>
              <tr>
                <td>MAST</td>
                <td>Mast Camera</td>
                <td>✔</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>CHEMCAM</td>
                <td>Chemistry and Camera Complex</td>
                <td>✔</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>MAHLI</td>
                <td>Mars Hand Lens Imager</td>
                <td>✔</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>MARDI</td>
                <td>Mars Descent Imager</td>
                <td>✔</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>NAVCAM</td>
                <td>Navigation Camera</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
              </tr>
              <tr>
                <td>PANCAM</td>
                <td>Panoramic Camera</td>
                <td></td>
                <td>✔</td>
                <td>✔</td>
              </tr>
              <tr>
                <td>MINITES</td>
                <td>Miniature Thermal Emission Spectrometer (Mini-TES)</td>
                <td></td>
                <td>✔</td>
                <td>✔</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <div class="row daily-row">
      <div class="col-md-12">
        <div class="rover-container">
          <h4 class="rover-search-title"><strong>Search Mars Rover Photos <em>(by date, by camera or both!)</em></strong></h4>
          <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <label class="rover-earth">
                    <input type="radio" name="date_selector" value="earth" id="earth" checked="true"> By Earth date
                    <p><em>({{ rover.landing_date|date:"m/d/Y" }} to {{ rover.max_date|date:"m/d/Y" }})</em></p>
                    <input id="rover-datepicker" width="175">
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="rover-sol">
                    <input type="radio" name="date_selector" value="sol" id="sol" checked="false"> By Sol
                    <p><em>(Day 0 to Day {{ rover.max_sol }})</em></p>
                    <input id="rover-number" type="number" min="0" max="max">
                  </label>
                </div>
                <div class="col-md-6">
                  <div class="rover-cameras">
                    <p>By Camera:</p>
                    <select class="rover-select">
                      {% for camera in rover.cameras %}
                        <option value="{{ camera.name }}">{{ camera.name }} ({{ camera.full_name }})</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row rover-submit">
                <button type="submit" class="btn btn-primary btn-large rover-submit-button">Search</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
