{% extends "base.html" %}

{% block content %}
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.70.1/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.70.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">

  <div class="container main-content satellite-main-content ">
    <div class="row daily-row">
      <div class="col-md-12">
        <h1><strong>Satellites</strong></h1>

        <div id="cesiumContainer" class="fullSize"></div>

      </div>
    </div>
  </div>
{% endblock %}
