{% extends "base.html" %}

{% block content %}
  <div class="container main-content">
    <div class="row daily-row">
      <div class="col-md-6">
        {% if previous %}
          <span class="techport_search_left">
            <a href="{% url 'tabs:techport_search' project_id=previous.id %}"><span class="fas fa-arrow-left fa-3x" aria-hidden="true"></span></a>
          </span>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if next %}
        <span class="techport_search_right">
          <a href="{% url 'tabs:techport_search' project_id=next.id %}"><span class="fas fa-arrow-right fa-3x" aria-hidden="true"></span></a>
        </span>
        {% endif %}
      </div>
      <div class="col-md-12">
        <div class="techport_search_property_container">
          <h4><strong>Title:</strong></h4>
          {{ techport_search_data.project.title }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="techport_search_property_container">
          <h4><strong>Responsible Program:</strong></h4>
          {{ techport_search_data.project.responsibleProgram }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="techport_search_property_container">
          <h4><strong>Lead Organization:</strong></h4>
          {{ techport_search_data.project.leadOrganization.name }} - {{ techport_search_data.project.leadOrganization.city }}, {{ techport_search_data.project.leadOrganization.state }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>Start Date:</strong></h4>
          {{ techport_search_data.project.startDate }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>End Date:</strong></h4>
          {{ techport_search_data.project.endDate }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>Status:</strong></h4>
          {{ techport_search_data.project.status }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>Program Manager(s):</strong></h4><p>
            {% if techport_search_data.project.programManagers %}
              {% for manager in techport_search_data.project.programManagers %}
                {% if forloop.counter == techport_search_data.project.programManagers|length %}
                  {{ manager }}
                {% else %}
                  {{ manager }},
                {% endif %}
              {% endfor %}
            {% else %}
              N/A
            {% endif %}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>Project Manager(s):</strong></h4><p>
            {% if techport_search_data.project.projectManagers %}
              {% for manager in techport_search_data.project.projectManagers %}
                {% if forloop.counter == techport_search_data.project.projectManagers|length %}
                  {{ manager }}
                {% else %}
                  {{ manager }},
                {% endif %}
              {% endfor %}
            {% else %}
              N/A
            {% endif %}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="techport_search_property_container">
          <h4><strong>Principal Investigator(s):</strong></h4><p>
          {% if techport_search_data.project.principalInvestigators %}
            {% for investigator in techport_search_data.project.principalInvestigators %}
              {% if forloop.counter == techport_search_data.project.principalInvestigators|length %}
                {{ investigator }}
              {% else %}
                {{ investigator }},
              {% endif %}
            {% endfor %}
          {% else %}
            N/A
          {% endif %}</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="techport_search_property_container">
          <h4><strong>Description:</strong></h4>
          {{ techport_search_data.project.description|safe }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="techport_search_property_container">
          <h4><strong>Benefits:</strong></h4>
          {{ techport_search_data.project.benefits|safe }}
        </div>
      </div>

      {% if techport_search_data.project.closeoutSummary %}
        <div class="col-md-6">
          <div class="techport_search_property_container">
            <h4><strong>Closeout Summary:</strong></h4>
            {{ techport_search_data.project.closeoutSummary|safe }}
          </div>
        </div>
      {% endif %}

      {% if techport_search_data.project.closeoutDocuments %}
        <div class="col-md-6">
          <div class="techport_search_property_container">
            <h4><strong>Closeout Document(s):</strong></h4>
            {% for document in techport_search_data.project.closeoutDocuments %}
              <p><a href="{{ document }}">{{ document }}</a></p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row daily-row">
      <div class="col-md-6">
        {% if previous %}
          <span class="techport_search_left">
            <a href="{% url 'tabs:techport_search' project_id=previous.id %}"><span class="fas fa-arrow-left fa-3x" aria-hidden="true"></span></a>
          </span>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if next %}
        <span class="techport_search_right">
          <a href="{% url 'tabs:techport_search' project_id=next.id %}"><span class="fas fa-arrow-right fa-3x" aria-hidden="true"></span></a>
        </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
