#rover-number {
  text-align: right;
}

.create-post-footer {
  margin: 20px 0px;
}

.create-comment-footer {
  float: right;
  margin: 0px 0px 10px 0px;
}

.create-post-button {
  width: 110px;
}

.create-post-title {
  font-weight: bold;
  margin: 20px 0px;
}

.help-block {
  color: red;
  font-size: .75rem;
  font-weight: bold;
}

.non_field_error_list, .field_error_list {
  margin: 5px 10px;
  padding: 0px 0px 0px 15px;
}

.modal-header {
  padding: 0px;
}

.modal-header button span{
  margin: 10px;
}

.modal-header .close {
  padding: 10px 15px;
  margin: 0px;
}
.modal-header ul {
  border: none;
}

.modal-header ul li.corner {
  border-top-left-radius: 10px;
}

.modal-header ul li {
  padding: 10px 20px;
  border-right: 1px solid lightgrey;
}

.modal-header ul li a {
  border: none;
  border-radius: 0;
}

.modal-header ul li a:hover, .modal-header ul li.active a:hover {
  color: grey;
  text-decoration: none;
}

.modal-header ul li i {
  margin-left: 5px;
}

.modal-header ul li a span {
  margin-left: 10px;
}

.nav-tab.active {
  background-color: #666!important;
  color: white!important;
}

.modal-body .form-group {
  margin-bottom: 10px;
}

.modal-footer {
  padding-left: 0px;
  padding-right: 0px;
}

.modal-footer .post-delete {
  margin-right: 20px;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}



.post-list {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 20px;
  background-color: white;
  border-radius: 10px;
}


h6.blog-header {
  margin-top: 5px!important;
}

.md-form {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: lightgrey;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contact-input {
  display: inline-block!important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  width: 95%;
}

.navbar {
  padding: 0!important;
}

.btn:hover, .btn>a:hover {
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: #343a40;
  opacity: 0.45;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0rem!important;
  border-top-right-radius: 0rem!important;
}

.nav-link.active {
  font-weight: bolder;
  /* border-left: 1px solid grey!important;
  border-right: 1px solid grey!important; */
}

.btn-link a:hover {
  color: purple;
}

.nav-link.active:hover {
  opacity: 1.0;
}


.form-control-sm {
  font-size: .8rem!important;
}

.form-inline {
  margin-left: .25rem;
}

.navbar-logo-title {
  font-size: 2em;
  font-weight: bolder;
}

audio:focus {
  outline: none;
}



.table {
  width: 98%;
  font-size: 1rem;
}

h2.modal-title {
  font-size: 2rem;
  font-weight: bolder;
  margin: 5px 15px!important;
}

.col {
  display: inline-block!important;
  padding-bottom: 5px;
  height: 200px;
}




.mars-images {
  width: 100%;
  height: auto;
  border-radius: 5px;
}




.mars-images:hover {
  opacity: .7;
}

.mars-title {
  margin: 5px 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.mars-attribute {
  margin: 2px 0px;
}

.mars-borders {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 525px;
}

/* FOOTER SECTION */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #212121;
  overflow-x: hidden;
}

.footer {
  margin-top: 40px;
  padding: 0px;
}

.footer-nav-tabs {
  list-style-type: none;
  font-size: .75rem;
  border-bottom: none!important;
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin-right: 40px;
}

.nav-item-footer {
  display: inline-block;
}

.nav-item > button {
  font-size: .75rem;
}