{% load widget_tweaks %}

<form method="POST" action="">
  {% csrf_token %}
  <div class="modal-header">
    <ul class="nav nav-tabs">
      <li class="nav-tab corner">
        <a data-toggle="tab" href="#login-form">Login
          <i class="fas fa-user"></i>
        </a>
      </li>
      <li class="nav-tab">
        <a data-toggle="tab" href="#registration-form">Register
          <i class="fas fa-pencil-alt"></i>
        </a>
      </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="tab-content">
      <div id="login-form" class="tab-pane fade in show active">
        <form action="/">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="signup-username" placeholder="Enter username" name="signup-username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="text" class="form-control" id="signup-password" placeholder="Enter password" name="signup-password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <div class="options text-center text-md-right mt-1">
            <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
            <!-- <p>Forgot <a href="#" class="blue-text">Password?</a></p> -->

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a data-toggle="tab" href="#registration-form">Register
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="submit-btn btn btn-primary">Log in</button>
          </div>
        </form>
      </div>

      <div id="registration-form" class="tab-pane fade in">
        <form action="/">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="register-username" placeholder="Enter username" name="register-username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="register-password1" placeholder="Enter password" name="register-password1">
          </div>
          <div class="form-group">
            <label for="password">Password confirmation:</label>
            <input type="text" class="form-control" id="register-password2" placeholder="Enter password again" name="register-password2">
          </div>
          <div class="options text-right">
            <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a data-toggle="tab" href="#login-form">Login
                  <i class="fas fa-user"></i>
                </a>
              </li>
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="submit-btn btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>
