{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h2 class="modal-title">Register</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        <ul class="non_field_error_list">
          <li class="help-block"><em>{{ error|escape }}</em></li>
        </ul>
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% render_field field class="form-control" placeholder=field.label %}

        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <ul class="field_error_list">
              <li class="help-block"><em>{{ error|escape }}</em></li>
            </ul>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="options text-right">
      <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In!</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="submit-btn btn btn-primary">Register</button>
    </div>
  </div>
</form>
