.navbar-links {
  max-width: 100%;
  margin: 0px auto 20px auto;
  background-color: #ffffff;
}

.nav-tabs .nav-item .nav-link:first-of-type.active {
  font-weight: 900;
  border: none;
}

.nav-tabs .nav-item .nav-link.active {
  font-weight: 900;
  border: none;
}

.nav-tabs .nav-item .nav-link:first-of-type:hover, .nav-tabs .nav-item .nav-link:last-of-type:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #dee2e6;
  border-bottom: none;
}
