.nav-link:hover {
  background-color: yellow;
}

.container-links {
  margin: 0 auto;
  max-width: 100%;
  background-color: white;
}

.form-control-sm {
  font-size: .8rem!important;
}

.form-inline {
  margin-left: .25rem;
}

.astro-banner {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  height: 150px;
  background-image:url("/static/mySpaceStuff/img/astro-banner.jpeg");
  background-repeat:no-repeat;
}

.navbar-logo-title {
  font-size: 2em;
  font-weight: bolder;
}

.daily-row {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.daily-image {
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.daily-headline {

}

.daily-description {
  margin-right: 20px;
}

.main-content {
  background-color: white;
  border-radius: 5px;
}

/* FOOTER SECTION */

footer {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #212121;
  overflow-x: hidden;
}

.footer {
  margin-top: 40px;
  padding: 0px;
}

.footer-nav-tabs {
  list-style-type: none;
  font-size: .75rem;
  border-bottom: none!important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin-right: 40px;
}

.nav-item-footer {
  display:inline-block;
}
