{% load widget_tweaks %}

<form method="POST">
  {% csrf_token %}

  <div class="modal-header">
    <h2 class="modal-title">{{ form_title }}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
       <ul class="non_field_error_list">
         <li class="help-block"><em>{{ error|escape }}</em></li>
       </ul>
      {% endfor %}
    </div>

     {% for field in form %}
      <div class="form-group">
        {% render_field field class="form-control" placeholder="Enter Text..." %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <ul class="field_error_list">
              <li class="help-block"><em>{{ error|escape }}</em></li>
            </ul>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="create-comment-footer">
      <button type="submit" class="btn btn-large btn-primary create-comment-button">{{ form_title }}</button>
    </div>
  </div>
</form>
