{% extends "blog/index.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container main-content">
    <form method="POST">
      {% csrf_token %}

      <div class="modal-body">
         <h2 class="create-post-title">{{ form_title }}</h2>
         <hr>

         <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
           {% for error in form.non_field_errors %}
             <ul class="non_field_error_list">
               <li class="help-block"><em>{{ error|escape }}</em></li>
             </ul>
           {% endfor %}
         </div>

         {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {% render_field field class="form-control" placeholder=field.label %}
            <div class="{% if field.errors %} invalid{% endif %}">
              {% for error in field.errors %}
                <ul class="field_error_list">
                  <li class="help-block"><em>{{ error|escape }}</em></li>
                </ul>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="create-post-footer">
          <button type="submit" class="btn btn-large btn-primary create-post-button">{{ form_title }}</button>
          <a href="{{ cancel_url }}" class="btn btn-large btn-secondary create-post-button">Cancel</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
