<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Astrollaneous: an assortment of all things space-related</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'mySpaceStuff/img/observatory.png' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat " />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="{% static 'mySpaceStuff/css/master.css' %}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-dark">

    {% include 'header.html' %}
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/67ce07cfe8.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'mySpaceStuff/js/master.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#login-btn').modalForm({formURL: "{% url 'accounts:login' %}"});
        $('#register-btn').modalForm({formURL: "{% url 'accounts:register' %}"});
        $('#contact-btn').modalForm({formURL: "{% url 'contact' %}"});

        $(".post_delete").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".comment_create").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".comment_edit").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".comment_delete").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });

        $(".rover_image").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });

        $("#nasaModal").on('show.bs.modal', function(event) {
          let url = $(event.relatedTarget).data('id');
          let title = $(event.relatedTarget).data('title');
          let year = $(event.relatedTarget).data('date');
          let div = $(this).find('.embed-responsive-16by9');
          div.empty();

          if ($(event.relatedTarget).data('filter') == 'video') {
            let iframe = '<iframe width="100%" height="auto" src="' + url + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
            div.append(iframe);
          };

          if ($(event.relatedTarget).data('filter') == 'image') {
            let img = '<img itemprop="image" src="' + url + '" class="img-rounded" style="width:100%; height:auto;">';
            let p = '<p class="modal-title float-left"><em>' + title + ' - NASA &copy; ' + year + '</em></p>';
            let btn = '<button type="button" class="btn btn-secondary button-float-right" data-dismiss="modal">Close</button>';
            div.append(img, p, btn);
          };
        });

        $('#myRoverModal').on('show.bs.modal', function (e) {
            var image = $(e.relatedTarget).attr('src');
            $(".img-responsive").attr("src", image);
        });

        $('#rover-datepicker').datepicker({
          uiLibrary: 'bootstrap4',
          format: 'mm/dd/yyyy',
          minDate: new Date("{{ rover.landing_date.isoformat }}"),
          maxDate: new Date("{{ rover.max_date.isoformat }}"),
          keyboardNavigation: true,
          autoclose: true,
          modal: true
        });

        $('#techport-datepicker').datepicker({
          uiLibrary: 'bootstrap4',
          format: 'yyyy-mm-dd',
          keyboardNavigation: true,
          autoclose: true,
          modal: true
        });
      });

      $('div.expanded-text').hide();
      function togglePostText(id) {
        $('div.truncated-text[name=' + id + ']').toggle();
        $('div.expanded-text[name=' + id + ']').toggle();

        if ($('div.buttons a[name=' + id + ']').find('span#expandable-message').text() == "Show More") {
          $('div.buttons a[name=' + id + ']').find('span#expandable-message').text("Show Less");
          $('div.buttons a[name=' + id + ']').find('span#expandable-sign').text("-");
        } else {
          $('div.buttons a[name=' + id + ']').find('span#expandable-message').text("Show More");
          $('div.buttons a[name=' + id + ']').find('span#expandable-sign').text("+");
        }
      }

      $('.nasa-description-container').each(function () {
        var maxheight = 100;
        var text = $(this);

        if (text.height() > maxheight){
          text.css({ 'overflow': 'hidden','height': maxheight + 'px' });

          var link = $('<a href="#">Show More</a>');
          var linkDiv = $('<div></div>');
          linkDiv.append(link);
          $(this).after(linkDiv);

          link.click(function (event) {
            event.preventDefault();

            if (text.height() > maxheight) {
                $(this).html("Show More");
                text.css('height', maxheight + 'px');
            } else {
                $(this).html("Show Less");
                text.css('height', 'auto');
            }
          });
        }
      });
    </script>
  </body>
</html>
