{% load widget_tweaks %}

<form method="post">
  {% csrf_token %}
  <div class="modal-header text-center">
    <h2 class="modal-title w-100 font-weight-bold">Contact Us</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-3">
      <i class="fas fa-envelope icon prefix grey-text"></i>
      {% render_field form.email type="email" class+="form-control validate contact-input" placeholder+="Email" %}
      <label data-error="wrong" data-success="right" for="form29"></label>
    </div>

    <div class="md-form mb-3">
      <i class="fas fa-tag icon prefix grey-text"></i>
      {% render_field form.subject class+="form-control validate contact-input" placeholder+="Subject" %}
      <label data-error="wrong" data-success="right" for="form32"></label>
    </div>

    <div class="md-form">
      <i class="fas fa-comment-alt icon"></i>
      {% render_field form.message class+="form-control contact-input" rows="4" cols="6" placeholder+="Message" %}
      <label data-error="wrong" data-success="right" for="form8"></label>
    </div>

  </div>
  <div class="form-actions modal-footer d-flex justify-content-center">
    <button type="submit" class="btn btn-success">Send <i class="fas fa-paper-plane ml-1"></i></button>
  </div>
</form>
