<footer class="footer">
  <ul class="footer-nav-tabs">
    <div class="float-left">
      <li class="nav-item">
        <button class="btn btn-link disabled">&copy; 2019-2020 Astrollaneous</button>
      </li>
    </div>
    <div class="float-right">
      <li class="nav-item nav-item-footer">
        <button class="btn btn-link"><a href="https://code.nasa.gov" target="_blank" rel="noopener noreferrer">code.nasa.gov</a></button>
      </li>
      <li class="nav-item nav-item-footer">
        <button class="btn btn-link"><a href="https://data.nasa.gov" target="_blank" rel="noopener noreferrer">data.nasa.gov</a></button>
      </li>
      <li class="nav-item nav-item-footer">
        <button class="btn btn-link"><a href="https://api.nasa.gov" target="_blank" rel="noopener noreferrer">api.nasa.gov</a></button>
      </li>
      <li class="nav-item nav-item-footer">
        <button class="btn btn-link"><a href="https://open.nasa.gov" target="_blank" rel="noopener noreferrer">open.nasa.gov</a></button>
      </li>
    </div>
  </ul>
</footer>
