/* HEADER */
.astro-banner {
  max-width: 100%;
  background-image: url("../images/astro-banner.7cb1397324cc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* FOOTER */
.footer {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  padding: 0px;
  margin: 40px 0 0 0;
  width: 100%;
  position: fixed;
  bottom: 0;

  color: #212121;
  background-color: #ffffff;
  border-top: 1px solid #212121;
  overflow-x: hidden;
}

.footer-left {
  float: left;
  margin-left: 80px;
}

.footer-right {
  float: right;
  margin-right: 80px;
}

.footer-left > button, .footer-left > span, .footer-right > button {
  font-size: .75rem;
}

.btn-link-footer-left {
  padding-right: 0px!important;
}